<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ecnu.mapper.SessionsMapper">
    <select id="getHistory" resultType="com.ecnu.vo.RecentSession">
        select s.session_id, s.client_id, u.real_name, timestampdiff(second, s.start_time, s.end_time) as duration, s.start_time, s.rating from sessions s left outer join users u on s.client_id = u.user_id
        where s.status = 'closed'
            <if test="name != null">
                and u.real_name like concat('%', #{name}, '%')
            </if>
            <if test="date != null">
                and date(start_time) = #{date}
            </if>
        order by start_time desc
    </select>
</mapper>