<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ecnu.mapper.UserMapper">
    <select id="getSupervisorList" resultType="com.ecnu.vo.AdminSupervisorVO" parameterType="com.ecnu.dto.AdminCounselorDTO">
        select user_id as supervisorId, real_name
        from users
        where user_type = 'supervisor'
        <if test="name != null">
            and real_name like concat('%', #{name}, '%')
        </if>
    </select>
    <select id="getOnlineSupervisor" resultType="com.ecnu.vo.OnlineSupervisor">
        select user_id as supervisorId, real_name, true as isFree
        from users
        where user_type = 'supervisor' and status = 'active'
    </select>
    <update id="update" parameterType="com.ecnu.entity.User">
        update users
        <set>
            <if test="phoneNumber != null and phoneNumber != ''">
                phone_number = #{phoneNumber},
            </if>
            <if test="realName != null and realName != ''">
                real_name = #{realName},
            </if>
            <if test="passwordHash != null and passwordHash != ''">
                password_hash = #{passwordHash},
            </if>
            <if test="age != null">
                age = #{age},
            </if>
            <if test="gender != null and gender != ''">
                gender = #{gender},
            </if>
            <if test="occupation != null and occupation != ''">
                occupation = #{occupation},
            </if>
            <if test="userType != null and userType != ''">
                user_type = #{userType},
            </if>
            <if test="status != null and status != ''">
                status = #{status},
            </if>
            <if test="avatarUrl != null and avatarUrl != ''">
                avatar_url = #{avatarUrl},
            </if>
            <if test="createdAt != null">
                created_at = #{createdAt},
            </if>
            <if test="updatedAt != null">
                updated_at = #{updatedAt},
            </if>
        </set>
        where user_id = #{userId}
    </update>
</mapper>